@model EMS.Models.ForgotPasswordModel

<h2>Forgot Password</h2>

@using (Html.BeginForm("SendResetLink", "Account", FormMethod.Post))
{
    <label for="Email">Enter your registered email:</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Your Email" })
    <br />
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
}
