@model ResetPasswordModel

@{
    ViewData["Title"] = "Password Reset";
}


<style>
    .card {
        width: 70%; /* Use a percentage for responsiveness */
        max-width: 400px; /* Set a maximum width for larger screens */
        margin: 0 auto; /* Center the card */
        padding: 5px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card h2 {
        color: #333333;
    }

    .card p {
        color: #666666;
    }

    .lgn,
    .lgnn {
        padding: 5px 2px;
        margin-top: 10px;
        color: #ffffff;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        display: block;
        width: 100%; /* Make buttons fill the container */
    }

    .lgn {
        color: #fff !important;
        background: linear-gradient(57deg, #4963d5, #040b67bd) !important;
        border-color: #0a58ca !important;
    }

    .lgn:hover {
            color: #fff;
            background: linear-gradient( 57deg,#0b06b996, #f20ac2) !important;
            border-color: #0a58ca;
    }

    .lgnn {
        color: #fff !important;
        background: linear-gradient(57deg, #4963d5, #040b67bd) !important;
        border-color: #0a58ca !important;
        text-decoration: none;
    }

    .lgnn:hover {
            color: #fff;
            background: linear-gradient( 57deg,#0b06b996, #f20ac2) !important;
            border-color: #0a58ca;
    }

</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <h4>Send Password Reset email</h4>
            <section>

                <form method="post" action="/Home/SendResetLink">
                    <div class="form-floating" style="padding-bottom: 5px;">
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Email" class="form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Send Reset Link</button>
                </form>

                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info mt-3">@ViewBag.Message</div>
                }

            </section>
        </div>
    </div>
</div>
