

@{
    ViewData["Title"] = "Create";
}
<style>
    table {
        width: 100%;
    }

    td {
        padding: 8px;
    }

    th {
        padding: 8px;
    }
</style>

<div class="container mt-4">
    <h2 class="text-center header_content">Role List</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 bg-light bg-gradient p-4 border" enctype="multipart/form-data">

            <div class="form-group">
    
         

                <table id="dataTable" class="table table-bordered mt-3">
                 
                    <tbody>
                        <tr>
                          <td> User</td>
                          <td> Admin</td> 
                          <td> System</td> 
                         
                        </tr>  
                               
                         <tr>
                            <td> Setup</td>
                            <td> Video</td>
                            <td> Registration</td>
                       
                        </tr>

                        <tr>
                            <td> Beneficiary</td>
                            <td> TradeLicences</td>
                            <td> SixCirtificates</td>

                        </tr>

                        <tr>
                        
                            <td> Orishon</td>
                            <td>CustomCirtificate </td>
                            <td>SetupSettings </td>
                        
                        </tr>

                        <tr>
                            <td> SetupVideo</td>
                            <td> SetupUser</td>
                            <td>SetupRole </td>

                        </tr>
                        <tr>
                            <td> SetupCategory</td>
                            <td> SetupAddress</td>
                            <td>SSA</td>

                        </tr>

                    </tbody>
                </table>

            
            

          </div>
        </div>
    </div>
</div>

